.Card .mainCardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 26rem;
    padding: 1rem 2rem;
    background-color: #74747411;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}.Card .mainCardBody:hover {
    background-color: #1310103c;
}.Card .mainCardBody:active {
    opacity: 0.9;
}.Card .mainCardBody .card-title, .popup .popupContent .card-title{
    height: 10%;
    font-weight: bold;
    font-size: 22px;
}.Card .mainCardBody .card-description{
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}.Card .mainCardBody .card-media {
    width: fit-content;
    max-width: 100%;
    height: 50%;
}.Card .card-category, .popup .popupContent .card-title .card-category{
    font-size: 16px;
    height: 10%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}.popupContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(37, 37, 37, 0.827);
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 45rem;
    text-align: justify;
    margin-bottom: 20px;
}.closeButtonContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}.popup .popupContent .closeButton { 
    text-align: center;
    color: white;
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    cursor: pointer;
}.popup .popupContent .card-media{
    width: 10rem;
}.popup .popupContent .closeButton:hover {
    background-color: darkred;
}

@media screen and (max-width: 940px) {
    .Card .mainCardBody {
        width: 100%;
        height: 20rem;
        padding: 5px 1rem;
    }.Card .mainCardBody .card-title{
        font-size: 20px;
    }.Card .mainCardBody .card-description{
        font-size: 14px;
    }.Card .mainCardBody .card-media {
        flex: 3;
        width: fit-content;
        max-width: 90%;
        height: fit-content;
        max-height: 45%;
    }
}