.Card .mainCardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 26rem;
    padding: 1rem 2rem;
    background-color: #74747411;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}.Card .mainCardBody:hover {
    background-color: #7474743c;
}.Card .mainCardBody:active {
    opacity: 0.9;
}.Card .mainCardBody .card-title{
    flex: 1;
    font-weight: bold;
    font-size: 22px;
}.Card .mainCardBody .card-description{
    flex: 3;
    font-size: 16px;
}.Card .mainCardBody .card-media {
    flex: 4;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 55%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the popup is above other content */
}.popupContent {
    background-color: rgba(71, 71, 71, 0.422);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30rem;
    text-align: center;
}.closeButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.closeButton:hover {
    background-color: darkred;
}

@media screen and (max-width: 940px) {
    .Card .mainCardBody {
        width: 100%;
        height: 20rem;
        padding: 5px 1rem;
    }.Card .mainCardBody .card-title{
        font-size: 20px;
    }.Card .mainCardBody .card-description{
        font-size: 14px;
    }.Card .mainCardBody .card-media {
        flex: 3;
        width: fit-content;
        max-width: 90%;
        height: fit-content;
        max-height: 45%;
    }
}