* {
  box-sizing: border-box;
}

body{
  background-color: #121212;
  color: #ffffff;
  overflow: hidden;
}

.light-mode {
  background-color: white;
  color: black;
}.light-mode .card {
  background-color: white;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 20px;
}.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}input:checked + .slider {
  background-color: #2196f3;
}input:checked + .slider::before {
  transform: translateX(26px);
}

.App{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-section {
  height: 100vh;
  scroll-snap-align: start;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.App .header {
  text-align: end;
  padding: 10px;
}

.header .mode-icon {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  transition: transform 0.3s ease, transform 1.4s ease;
}

.App .mainText{
  font-size: 96px;
  animation: fadeSlideIn 0.5s ease-in;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 580px) {
  .App .mainText {
    font-size: 52px;
  }
  .snap-section {
    padding: 20px;
  }
  .header .mode-icon {
    font-size: 16px;
    margin-right: 0px;
    margin-left: 5px;
  }.switch{
    width: 45px;
    height: 25px;;
  }.slider::before {
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
  }
  input:checked + .slider::before {
    transform: translateX(20px);
  }
}

